doctype html
html
  head
    title MVVM-EASY-FORM
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/bower-components/bootstrap/dist/css/bootstrap.min.css')
    block styles
  body
    .container-fluid
      block content
    script(type='text/javascript', src='/bower-components/jquery/dist/jquery.min.js')
    script(type='text/javascript', src='/bower-components/bootstrap/dist/js/bootstrap.min.js')
    script(type='text/javascript', src='/bower-components/knockout/dist/knockout.js')
    block scripts